@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  font-size: small;
  color: white;
}

.annotatorContainer {
  clear: both;
  position: relative;
  width: 100%;
}

.ori {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

circle {
  fill: white;
  stroke: black;
}

circle:hover {
  fill: red;
  cursor: move;
}

polygon {
  fill: rgba(124,240,10,0.2);
  stroke: purple;
}

polygon:hover {
  fill: rgba(124,240,10,0.8);
  stroke: purple;
  cursor: move;
}


/*
.point {
    position: absolute;
    width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 5px;
}
*/
