@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  font-size: small;
}

.annotatorContainer {
  clear: both;
  position: relative;
  width: 100%;
  height: auto;
}

.annotatorContainer img {
  max-width: 100%;
  max-height: 100%;
}

.ori {
  position: absolute;
  left: 0;
  top: 0;
}

.labelInput {
  font-size: 12px;
  padding: 2px;
  width: 100%;
  border: 1px solid rgba(71,80,92,0.8);
  border-radius: 3px;
  text-align: center;
}

foreignObject {
  overflow: auto;
}

circle, line {
  fill: white;
  stroke: black;
}

/*
circle:hover {
  fill: red;
  cursor: move;
}
*/

polygon {
  fill: rgba(124,240,10,0);
  stroke: purple;
}

polygon:hover {
  /* fill: rgba(124,240,10,0.8); */
  cursor: move;
}
