@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  font-size: small;
}

foreignObject {
  overflow: auto;
}

circle, line {
  fill: white;
  stroke: black;
}

polygon {
  fill: rgba(124,240,10,0);
  stroke: purple;
}

polygon:hover {
  cursor: move;
}

.overlay {
  fill: gray;
  opacity: 0.5;
}
